{{ define "main" }}

<header class="header-section ">
 <!-- la partie header a été construite en récupérant le code de la page about.html -->
 <!-- la partie liste des articles a été construite en récupérant ce qui était initialement
la page d'accueil avec la liste des articles
-->
<!-- la page index.html a été écrasée par une page de texte classique avec accueil
-->
  <div class="intro-header no-img" style = "margin-top:-20px;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="page-heading">
              <h1>Mes publications</h1>

              <hr class="small">
              <span class="page-subheading">Les applis, articles et outils</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div role="main" class="container">
  <div class="row">
<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

  <div class="posts-list">
    {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
    {{ range $pag.Pages }}
      {{ partial "post_preview" . }}
    {{ end }}
  </div>

  {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>


    </div>
  </div>

{{ end }}
